venv/
ENV/
env/


*.sqlite3
*.db
__pycache__/
db.sqlite3
*.pyo
*.pyc
*.pyd


*.pgsql
*.pgdump
*.sql
*.psql

# Logi i cache
logs/
*.log
*.out
*.err
*.swp
*.swo
*.swn
*.swd
nohup.out
*.pid
*.seed


.env
*.env
config.json
settings_local.py
secrets.json

.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/__pycache__/